.App {
  text-align: center;
}

.body {
    background-color: #ffffff;
    background-image: <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'><rect fill='#ffffff' width='1600' height='900'/><defs><linearGradient id='a' x1='0' x2='0' y1='1' y2='0' gradientTransform='rotate(142,0.5,0.5)'><stop  offset='0' stop-color='#0FF'/><stop  offset='1' stop-color='#CF6'/></linearGradient><linearGradient id='b' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(28,0.5,0.5)'><stop  offset='0' stop-color='#F00'/><stop  offset='1' stop-color='#FC0'/></linearGradient></defs><g fill='#FFF' fill-opacity='0' stroke-miterlimit='10'><g  stroke='url(#a)' stroke-width='11.219999999999999'><path  transform='translate(-56 4.4) rotate(0.5 1409 581) scale(0.97983)' d='M1409 581 1450.35 511 1490 581z'/><circle  stroke-width='3.74' transform='translate(-63.5 41) rotate(4.8 800 450) scale(1.005909)' cx='500' cy='100' r='40'/><path  transform='translate(12.899999999999999 -55.5) rotate(40.5 401 736) scale(1.005909)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/></g><g stroke='url(#b)' stroke-width='3.4'><path  transform='translate(246 -1.4000000000000004) rotate(0.3500000000000001 150 345) scale(0.9886099999999999)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/><rect  stroke-width='7.48' transform='translate(-81.5 -110) rotate(39.599999999999994 1089 759)' x='1039' y='709' width='100' height='100'/><path  transform='translate(-162 46) rotate(6.6 1400 132) scale(0.925)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/></g></g></svg>;
    background-attachment: fixed;
    background-size: cover;
  }

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
